<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark px-4"
  style="border-bottom: 2px solid #00fff7;"
>
  <a class="navbar-brand fs-3 fw-bold" href="{{#if usuarioId}}/usuarios/{{usuarioId}}/libros{{else}}/libros{{/if}}">
    Fantasy books
  </a>

  <div class="d-flex ms-auto">
    <span
      style="font-size: 1.8rem; color: #00fff7;"
      title="Sci-Fi Icon"
      aria-label="Sci-Fi Icon"
      role="img"
    >
      🚀
    </span>
  </div>
</nav>